.registration-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.registration-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c; /* Fondo oscuro */
  padding: 0px 0;
}
