.header {


  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 140px;
  background-color: #292727;
  flex-wrap: wrap; /* Asegura que los elementos se muevan a una nueva línea si es necesario */
}

.search-bar {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 40px; /* Ajustamos la altura para que coincida con los botones */
  width: 500px;
  margin-left: 40px;
  margin-right: 40px;
}

.nav {
  flex-grow: 1; /* Deja que el menú navegable ocupe el espacio restante */
}

.nav a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
}

.actions {
  display: flex;
  align-items: center; /* Alinea verticalmente los botones */
  gap: 10px; /* Espaciado entre los botones */
}

.actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px; /* Ajuste del padding */
  border-radius: 5px;
  background-color: #333; /* Color de fondo de los botones */
  color: white;
  text-decoration: none;
  min-width: 100px; /* Ancho mínimo */
  height: 40px; /* Altura fija para ambos botones */
}

.actions a:hover {
  background-color: #555; /* Cambia el color del fondo al pasar el ratón */
}

.cart-btn {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  height: 40px; /* Asegura que el botón del carrito tenga la misma altura */
}

.cart-btn:hover {
  background-color: #b4cd7d; /* Color del carrito al hacer hover */
}
