.hero {
  background-image: url('../../assets/herosection.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-color: #d8b9b2;
  text-align: center;
  padding: 100px 20px;
  font-size: 36px;
  
}

.hero h1 {
  color: rgb(129, 27, 253) !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
/* Ajuste del tamaño del texto y el padding en pantallas pequeñas */
@media (max-width: 768px) {
  .hero {
    font-size: 28px;
    padding: 50px 20px;
  }
}

@media (max-width: 480px) {
  .hero {
    font-size: 24px;
    padding: 30px 10px;
  }
}
