.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Toma todo el alto de la ventana */
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .not-found-container h1 {
    font-size: 80px;
    color: #333;
  }
  
  .not-found-container h2 {
    font-size: 36px;
    color: #666;
  }
  
  .not-found-container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #999;
  }
  
  .home-link {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .home-link:hover {
    background-color: #555;
  }
  