.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Mantiene el contenedor dentro del 100% del viewport */
  width: 100%; /* Asegura que ocupe todo el ancho */
  padding: 20px;
  box-sizing: border-box;
}

.form-container {
  background-color: #2e5229; /* Color de fondo verde */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}
